__pycache__
eigen
.vscode
g-plot
*.out
*.md
output.txt
temp.txt
testy

# C++ files
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dll
*.dylib
*.pdb
*.d
*.swp
*.swo
*.lo
*.la
*.al
*~
*.bak
*.aux
*.log
*.ncb
*.sdf
*.suo
*.opensdf
*.lof
*.lot
*.bit
*.idx
*.ind
*.ilg
*.tex
Debug/
Release/
.vscode/
.vs/
*.cmake
CMakeFiles/
CMakeCache.txt
*.user
*.userprefs
*.linkinfo

# Python files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.venv/
*.virtualenv/
.venv/
.env
*.log
*.pot
*.pyc
*.db.sqlite3
*.p
*.pid.lock

# Mathematica files
*.mx
*.m~ 

# Other general files
*.log
*.swp
*.bak
.DS_Store
Thumbs.db